doctype html
html
  head
    meta(charset='utf-8')
    title #{title}
    link(rel="stylesheet", href="/routes/views/css/topic.css")
  body
    include ./header.pug

    h1.title #{title}
    h4.desc #{description}
    div.article #{article}
    div.author 작성자: #{authorid}