extends layout

block css
  link(rel="stylesheet", href="/routes/views/css/topic.css")

block title
  title #{title}

block content
  h1.title #{title}
  h4.desc #{description}
  div.article #{article}
  div.author 작성자: #{authorid}