extends layout

block css
  link(rel="stylesheet", href="/routes/views/css/topic.css")

block title
  title #{title}

block content
  h1.title #{title}
  i.desc #{description}
  hr
  .article #{article}
  .author 작성자: #{authorid}
